:root {
  color-scheme: light dark;
  --primary: #1e1e1e;
  --secondary: #777777;
  --theme: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #fff;
    --secondary: #777777;
    --theme: #1b1f23;
  }
}

body {
  color: var(--primary);
  background: var(--theme);
  margin: 0;
  font-family: "Baskerville", "Georgia", "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
